@model JobBoard.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}
<section class="section-hero overlay inner-page bg-image" style="background-image: url('/Content/images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">@ViewBag.Title</h1>
                <div class="custom-breadcrumbs">
                    <a href="#">Home</a> <span class="mx-2 slash">/</span>
                    <a href="#">UsersAdmin</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>@ViewBag.Title</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<section class="site-section" id="next-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5 mb-lg-0">
                <h2>Details.</h2>

                <div>
                    <h4>User</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.UserName)
                        </dd>
                    </dl>
                </div>
                <h4>List of roles for this user</h4>
                @if (ViewBag.RoleNames.Count == 0)
                {
                    <hr />
                    <p>No roles found for this user.</p>
                }

                <table class="table">

                    @foreach (var item in ViewBag.RoleNames)
                    {
                        <tr>
                            <td>
                                @item
                            </td>
                        </tr>
                    }
                </table>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
                </p>
            </div>
        </div>
    </div>
</section>


