@model JobBoard.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "Contact";
}
<section class="section-hero overlay inner-page bg-image" style="background-image: url('/Content/images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Contact Us</h1>
                <div class="custom-breadcrumbs">
                    <a href="/Home/Index">Home</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Contact Us</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section" id="next-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <strong>@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })</strong> 
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            <strong>@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })</strong> 
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <strong>@Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })</strong> 
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <strong>@Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })</strong> 
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control", @style = "height: 250px; resize:none;" } })
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-12">
                                <input type="submit" value="Send" class="btn btn-success text-white btn-lg" />
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="col-lg-5 ml-auto">
                <div class="p-4 mb-3 bg-white">
                    <p class="mb-0 font-weight-bold">Address</p>
                    <p class="mb-4">1740 W 92 St, Kansas City, MO 64114, USA</p>
                    <p class="mb-0 font-weight-bold">Phone</p>
                    <p class="mb-4"><a href="#">+1 913 322 7000</a></p>
                    <p class="mb-0 font-weight-bold">Email Address</p>
                    <p class="mb-0"><a href="#">info@centriq.com</a></p>
                </div>
            </div>
        </div>


    </div>
</section>
