@model PagedList.IPagedList<JobBoard.DATA.EF.OpenPosition>
@using System;
@using PagedList.Mvc
@using JobBoard.DATA.EF;
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}
<section class="section-hero overlay inner-page bg-image" style="background-image: url('/Content/images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Find Job</h1>
                <div class="custom-breadcrumbs">
                    <a href="/Home/Index">Home</a> <span class="mx-2 slash">/</span>
                    <a href="/OpenPositions">Open Positions</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>@ViewBag.Title</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section" id="next-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5 mb-lg-0">
                <h2>Find Job</h2>

                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                <p>
                    @*<a href="@Url.Action("Create","Positions")">Create</a>*@
                    @Html.ActionLink("Create New", "Create")
                </p>
                }
                @using (Html.BeginForm("Index", "OpenPositions", FormMethod.Get))
                {
                    <div style="border:2px solid lightblue; margin-top:10px;margin-bottom:10px;padding:15px">
                        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                        <input type="submit" value="Search" />
                    </div>

                }
                <span style="margin-top:10px; margin-bottom:10px;">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
                </span>

                @if (Model.Count() > 0)
                {
                    if (User.Identity.IsAuthenticated)
                    {
                        <table class="myTable table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Job Description
                                    </th>
                                    <th>
                                        Location
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a style="color:black; font-weight:bold;"  href="/OpenPositions/Details/@item.OpenPositionID"> @Html.DisplayFor(modelItem => item.Position.Title)</a>
                                        </td>
                                        <td style="width:350px">

                                            @Html.Raw(item.Position.JobDescription.Substring(0, Math.Min(item.Position.JobDescription.Length, 200))) ...


                                        </td>
                                        <td>
                                            @item.Location.City
                                        </td>
                                        <td>
                                            <div class="row float-right m-3">
                                                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                                                {
                                                    <span class="float-right" style="margin-left:10px; margin-right:10px">
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.OpenPositionID }, new { @class = "btn btn-primary" })
                                                    </span>
                                                    <span class="float-right" style="margin-left:10px; margin-right:10px"> @Html.ActionLink("Delete", "Delete", new { id = item.OpenPositionID }, new { @class = "btn btn-danger" })</span>

                                                }
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="row float-right m-3">


                                                @if (User.Identity.IsAuthenticated)
                                                {


                                                    if (ViewBag.AppliedPosition != null)
                                                    {
                                                        if (ViewBag.AppliedPosition.Contains(item.OpenPositionID))
                                                        {
                                                            <a href="#" class="btn btn-secondary disabled float-right mr-2">Applied</a>
                                                        }

                                                        else
                                                        {
                                                            @Ajax.ActionLink("Apply Now", "OneClickApply", new { id = item.PositionID }, new AjaxOptions
                                                       {
                                                           HttpMethod = "POST",
                                                           //Confirm = "Are you sure you want to apply for " + item.Position.Title + "?",
                                                           OnSuccess = "deactive",

                                                       }, new { @class = "btn btn-info float-right", id = "oneClick" + item.PositionID, style = "margin-left:10px; margin-right:10px" })
                                                        }
                                                    }
                                                }

                                                <span class="float-right" style="margin-left:10px; margin-right:10px"> @Html.ActionLink("Details", "Details", new { id = item.OpenPositionID }, new { @class = "btn btn-warning " })</span>
                                            </div>


                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <table class="myTable table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Job Description
                                    </th>
                                    <th>
                                        Location
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a style="color:black; font-weight:bold;"  href="/OpenPositions/Details/@item.OpenPositionID"> @Html.DisplayFor(modelItem => item.Position.Title)</a>
                                        </td>
                                        <td>

                                            @Html.Raw(item.Position.JobDescription.Substring(0, Math.Min(item.Position.JobDescription.Length, 200))) ...


                                        </td>
                                        <td>
                                            @item.Location.City
                                        </td>
                                        <td>

                                            <span class="float-right" style="margin-left:10px; margin-right:10px"> @Html.ActionLink("Details", "Details", new { id = item.OpenPositionID }, new { @class = "btn btn-warning " })</span>


                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                }
                else
                {
                    <p>Sorry your criteria did not return any result.Please try again or or hit "Go!" to refresh the page</p>
                }
            </div>

        </div>
    </div>

</section>

@section scripts{
    @*<script>
            $(document).ready(function () {
                $('#myTable').DataTable();

            });

        </script>*@
    <script type="text/javascript">
            function deactive(data) {
                                              
                Swal.fire({

                    type: 'success',
                    title: 'You have succesfully applied for this job',
                    showConfirmButton: false,

                }).then()
                {
                    $('#oneClick' + data.id).removeClass('btn-info').addClass('btn-secondary').addClass('disabled').text('Applied');
                }
            }
        </script>


}

