@model JobBoard.DATA.EF.Application

@{
    ViewBag.Title = "Details";
}
<section class="section-hero overlay inner-page bg-image" style="background-image: url('/Content/images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Applications</h1>
                <div class="custom-breadcrumbs">
                    <a href="/Home/Index">Home</a> <span class="mx-2 slash">/</span>
                    <a href="/Applications">Applications</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>@ViewBag.Title</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section" id="next-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5 mb-lg-0">
                <h2>Details</h2>

                <div>
                    <h4>Application</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.ApplicationDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ApplicationDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ManagerNotes)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ManagerNotes)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ResumeFileName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ResumeFileName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ApplicationStatu.ApplicationStatus)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ApplicationStatu.ApplicationStatus)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.OpenPosition.OpenPositionID)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.OpenPosition.OpenPositionID)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UserDetail.FirstName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserDetail.FirstName)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationID },new {@class="btn btn-primary" }) 
                    @Html.ActionLink("Back to List", "Index")
                </p>
</div>
</div>
</div>
</section>